*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color:white;
    background-color: orange;
}

a {
    text-decoration: none;
    color: inherit; 
}

button:hover{
    background-color: rgb(191, 132, 23);
    cursor:pointer;
}

.container{
    max-width: 1400px;
    margin:auto;
}

.color-acento{color: orange;}
.color-habitual{color:brown}
.color-oro{color:green}
.color-platino{color:gold}

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin:0;
    padding: 25px 30px;
    font-weight: bold;
    color: orange;
    font-size: 1.55em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: orange;
    font-size: 1.4rem;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image:linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}


#somos-crypto .container{
    text-align: center;
    padding: 200px 12px;
}
#nuestros-programas{
    background-color: rgb(30,30,30);
    color: white;
}

#nuestros-programas .container{
    padding: 150px 12px;
    text-align: center;
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-programas p{
    display: none;
}

#nuestros-programas .carta{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{ 
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("images/litecoin.jpg");
}
.carta:nth-child(2){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("images/ethereum.jpg");
}
.carta:nth-child(3){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("images/bitcoin.jpg");
}

#caracteristicas .container{
    text-align: center;
    padding:  200px 12px;
}

#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}

#empieza-ya{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
}

#empieza-ya h2{
    font-size: 9vw;
}
#empieza-ya button{
    font-size: 5vw;
}

.container-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info-form{
    width: 80%;
    margin: 20px 100px;
    max-width: 100%;
}

.container-inputs{
    margin:0px 0px;
    width: 80%;
    max-width: 80%;
}

.container-form h1{
    margin-top: 100px;
    font-size: 35px;
}

.container-form p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 60px;
}

.container-form a{
    font-size: 17px;
    display:inline-block;
    text-decoration: none;
    width: 50%;
    padding: 10px 20px;
    margin-bottom: 15px;
    color: black;
    font-weight: bold;
}

.container-form a i{
    color:orange;
    margin-right: 10px;
}

.container.form, .campo, textarea{
    width: 100%;
    padding: 20px 10px;
    font-size: 15px;
    border:1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form  textarea{
    min-width: 100%;
    min-height: 10em;
    max-height: 15em;
}

.container-form .btn-enviar{
    padding: 15px;
    font-size:16px;
    border: none;
    outline: 0px;
    background-color: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background-color: rgb(191, 132, 23);
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin:0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



@media (min-width:720px){
    html, body {
        scroll-behavior: smooth;
    }
    
    header{
        position:fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right:20px ;
    }
    header a:hover{
        color: orange;
        font-size: 1.1rem;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-crypto .container{
        display:flex;
        justify-content: space-evenly;
    }

    #somos-crypto .texto{
        width: 50%;
        text-align: initial;
        max-width: 600px;
        display: flex;
        padding-left: 30px;
        justify-content: center;
        flex-direction: column;
    }

    #somos-crypto h2{
        margin-top: 0px;
    }

    #somos-crypto .img-container{
        background-image:linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/hombre.jpg");
        background-size: cover;
        background-position: center center;
        height: 600px;
        width: 500px;
    }

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    #nuestros-programas .carta{
        padding: 15px;
    }


    #caracteristicas{
        background-image: url("images/caracteristicas.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #empieza-ya h2{
        font-size: 5em;
    }

    #empieza-ya button{
        font-size: 2em;
    }
    .container-form{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .info-form{
        width: 60%;
        margin: 20px 100px;
        max-width: 50%;
        flex-direction: column;
        display: flex;
    }
    
    .container-inputs{
        margin:0px 20px;
        width: 50%;
        max-width: 50%;
    }
    
    .container-form h1{
        margin-top: 100px;
        font-size: 35px;
    }
    
    .container-form p{
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 60px;
    }
    
    .container-form a{
        font-size: 17px;
        display:inline-block;
        text-decoration: none;
        width: 50%;
        padding: 10px 20px;
        margin-bottom: 15px;
        color: black;
        font-weight: bold;
    }
    
    .container-form a i{
        color:orange;
        margin-right: 10px;
    }
    
    .container.form, .campo, textarea{
        width: 50%;
        padding: 15px 10px;
        font-size: 15px;
        border:1px solid #dbdbdb;
        margin-bottom: 20px;
        border-radius: 3px;
        outline: 0px;
    }
    
    .container-form  textarea{
        max-width: 530px;
        min-width: 530px;
        min-height: 140px;
        max-height: 150px;
    }
    
    .container-form .btn-enviar{
        padding: 15px;
        font-size:16px;
        border: none;
        outline: 0px;
        background-color: #ffa500;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        transition: all 300ms ease;
    }
    .container-form .btn-enviar:hover{
        background-color: rgb(191, 132, 23);
    }

    #footer .container{
        justify-content: flex-end;
    }
}

@media (min-width:1200px){
    #caracteristicas{
        background-position-x:calc(100vw - 800px) ;
    }
}